@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JUA";
  src: url("../public/font/NanumSquareNeo-Variable.ttf");
}
@font-face {
  font-family: "D2CODING";
  src: url("../public/font/MaruBuri-Regular.ttf");
}
@font-face {
  font-family: "DOHYEON";
  src: url("../public/font/NanumBarunpenR.ttf");
}

*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  font-size: 1.2rem;
  overflow-x: hidden;
}

section {
  height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  min-width: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-pagination-bullet {
  @apply dark:!bg-gray-300 !bg-gray-600;
}
.swiper-pagination-bullet-active {
  @apply dark:!bg-white !bg-black;
}
.swiper-button-prev {
  @apply dark:!text-violet-600 !text-orange-300 bg-white bg-opacity-60 rounded-full !w-16 !h-16;
}
.swiper-button-next {
  @apply dark:!text-violet-600 !text-orange-300 bg-white bg-opacity-60 rounded-full !w-16 !h-16;
}
.swiper-button-disabled {
  @apply opacity-50;
}
