@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JUA";
  src: url("../public/font/Jua-Regular.ttf");
}
@font-face {
  font-family: "D2CODING";
  src: url("../public/font/D2coding.ttf");
}
@font-face {
  font-family: "DOHYEON";
  src: url("../public/font/DoHyeon-Regular.ttf");
}
DoHyeon-Regular.ttf *,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  position: relative;
  font-size: 1.2rem;
  overflow-x: hidden;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
}
