@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gamja Flower";
  src: url("../public/font/GamjaFlower-Regular.ttf");
}
@font-face {
  font-family: "Stylish";
  src: url("../public/font/Stylish-Regular.ttf");
}
